 {{ administrativeGender__code }}   
 {{ administrativeGender__displayName }}   
 <text>
         <table border="1">
             <thead>
                 <tr>
                     <th>Description</th>
                     <th>Value / Unit</th>
                     <th>Interpretation</th>
                     <th>Reference Range</th>
                 </tr>
             </thead>
             <tbody>
                 <tr>
                     <th colspan="4">SARS coronavirus 2 RNA panel</th>
                 </tr>
                 <tr ID="LabResult3">
                     <td>{{ description }}</td>
                     <td>{{ value_unit }}</td>
                     <td>{{ interpretation }}</td>
                     <td>{{ reference_range }}</td>
                 </tr>
             </tbody>
         </table>
     </text>
