<languageCommunication>
  <languageCode code="{{ languageCode }}"/>
  <modeCode code="{{ modeCode__code }}" displayName="{{ modeCode__displayName }}" codeSystem="2.16.840.1.113883.5.60" codeSystemName="LanguageAbilityMode"/>
  <proficiencyLevelCode code="{{ proficiencyLevelCode__code }}" displayName="{{ proficiencyLevelCode__displayName }}" codeSystem="2.16.840.1.113883.5.61" codeSystemName="LanguageAbilityProficiency"/>
  <preferenceInd value="{{ preferenceInd }}"/>
</languageCommunication>
